.navigation-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 118px;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    box-shadow: 
        0px 5px 10px rgb(255 174 0 / 26%),
        0px 20px 40px rgb(255 174 0 / 29%);
    cursor: pointer;
}

.navigation-btn:hover {
    border: 1px solid #ebebeb;
}

.header-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 199px;
    height: 60px;
    border: none;
    border-radius: 8px;
    padding: 21px 43px;
    background: linear-gradient(90deg, #FF7A7A, #F65900);
    cursor: pointer;
}

.header-btn:hover {
    background: linear-gradient(90deg, #ff8b8b, #f36e21);
}

.popular-btn {
    background: #F17228;
    border: none;
    border-radius: 8px;
    height: 60px;
    padding: 21px 48px;
    box-shadow: 
        0 5px 10px rgb(253 114 92 / 22%),
        0 20px 40px rgb(250 99 35 / 24%);
    cursor: pointer;
}

.popular-btn:hover {
    background: #ff823a;
    border: 1px solid #ff9c63;
}

.featured-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(90deg, #FFBA26, #FF9A0E);
    border: none;
    border-radius: 14px;
    padding: 21px 46px;
    width: 178px;
    height: 60px;
    box-shadow: 
        0px 5px 10px rgb(255 174 0 / 26%),
        0px 20px 40px rgb(255 174 0 / 29%);
    margin: 0 auto 0 auto;
    cursor: pointer;
}

.featured-btn:hover {
    background: linear-gradient(90deg, #ffc547, #ffb043);
}

.search-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    background: #FEFAF1;
    border: none;
    padding: 21px 0 21px 0;
    cursor: pointer;
}

.details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(90deg, #FFB800, #FF8A00);
    padding: 21px 48px;
    height: 60px;
    border: none;
    border-radius: 8px;
    box-shadow: 
        0 5px 8px rgb(222 151 0 / 24%),
        0 14px 32px rgb(255 178 14 / 29%);
    cursor: pointer;
}

.details-btn:hover {
    background: linear-gradient(90deg, #fcba12, #f79d37);
}

.cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 253px;
    height: 60px;
    background: linear-gradient(90deg, #F17228, #F15E28);
    border: none;
    border-radius: 8px;
    margin: 62px auto 0 auto;
    padding: 21px 12px;
    box-shadow: 
        0 5px 8px rgb(222 151 0 / 24%),
        0 14px 32px rgb(255 178 14 / 29%);
    cursor: pointer;
}

.cta-btn:hover {
    background: linear-gradient(90deg, #f18241, #f17243);
}

.footer-btn {
    width: 133px;
    height: 60px;
    padding: 21px 24px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #FFB800, #FF8A00);
    box-shadow: 
        0 5px 8px rgb(222 151 0 / 24%),
        0 14px 32px rgb(255 178 14 / 29%);
    cursor: pointer;
}

.footer-btn:hover {
    background: linear-gradient(90deg, #ffc42f , #fd9e31);
}